footer{
    position:relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background:#e8efff;

}
.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.footer-content .logo{
    height: 160px;

}

.footer-ul-container{
    width:28%;
    display: flex;
    justify-content:space-between;

}
.category{
    width: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}
.category-title{
    font-weight: bold;
    margin-right:300px;
    grid-column: span 2;
    text-transform:  capitalize;
    color: #2e3440;
    font-size: 20px;
    margin-bottom: 20px;
}
.category .footer-link{

    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color:#2e3440;
}
.footer-link:hover{
color:#bf616a;
}

.footer-title, .info{

    color:#2e3440;
    margin:20px 0;
    text-transform: capitalize;
}
.footer-title{
    margin-top: 80px;
    color: #2e3440;
    text-transform: capitalize;
    font-weight: bolder;
}

.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.social-link{
    color: #2e3440;
    margin-left: 20px;
}
.social-link:nth-child(1){
    margin-left: 0;
}
.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #d8dee9;
    font-weight: bold;
    font-size: 12px;
    background: #2e3440;
    margin-top: 40px;
}