footer{
    position:relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background:#2e3440;

}
.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.footer-content .logo{
    height: 160px;

}
.footer-ul-container{
    width: 45;
    display: flex;
    justify-content:space-between;

}
.category{
    width:200px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap:10px;
    list-style: none;

}
.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color:#d8dee9;
    font-size: 20px;
    margin-bottom:20px;
}
.category .footer-links{
    text-decoration: none;
    text-transform: capitalize;
    color:rgb(255,255,0.75);
}