*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'hack', sans-serif;

}

.navbar{

    position: sticky;
    top: 0;
    left:0;
    width: 100%;
    background: #d8dee9;
    z-index: 9;

}
.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;

}
.MedTimely{
    height: 60px;
    margin-left: -120px;
}
.Top-items{
    display: flex;
    align-items: center;
}
.searchbar {
    width: 500px;
    display: flex;
}
.search-box{
    width: 48%;
    height: 30px;
    padding: 3px;
    margin-left: 120px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 4px solid #4c566a;
    text-transform: capitalize;
    font-weight: bold; /* for bold search bar text*/
    font-size: 16px;
    background: #eceff4;
    color:#2e3440;
    outline: none;
}
.search-btn{
    width: 20%;
    height: 30px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #2e3440;
    color:#e5e9f0;
    text-transform: capitalize;
    line-height: 1.5px;/* for centering text in button*/
    text-align: center;
    font-size: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}
.search-box::placeholder{
    color: #000000;
}

.Top-items a{
margin-left: 20px;
}
.Top-items a img{
    width: 30px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d8dee9;
}
.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #2e3440;
    opacity: 0.5;
    transition: .5s;
}
.link:hover{

}
.product{
    position : relative;
    overflow: hidden;
    padding: 20px;
}
.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 25px;
    text-transform: capitalize;
}
.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar {
    display: none;
}
.product-card  {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.product-image{
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    overflow-x: hidden;
}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
    overflow-x: hidden;
}
.product-tag{
    position: absolute;
   background: #d8dee9;
    padding: 5px;
    border-radius: 5px;
    color: #2e3440;
    font-weight: bolder;
    right: 10px;
    top: 20px;
    text-transform: capitalize;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    border: none;
    outline: none;
    background: #d8dee9;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-card:hover .card-btn{
    opacity: 1;
}
.card-btn:hover{
    background: #2e3440;
    color: #e5e9f0;
}
.product-info{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.product-name{
    text-transform: uppercase;


}
.product-price {
    text-transform: capitalize;
    color:#bf616a;
    font-weight: bolder;
    font-size: 22px;
}

.product-description{
    width: 100%;
    height: auto;
    padding: 10px 0;
    font-size: 13px;
    overflow: hidden;
    opacity: 0.6;
    text-transform: capitalize;

 }
.price{
    font-weight: 900;
    font-size: 20px;
    color: #bf616a;
}
.actual-price{
    margin-left: 20px;
    font-weight: bold;
    opacity: 1;
    color:#5e81ac;
    text-decoration: line-through 2px;

}
